@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

:root {
  --dark-bg: rgba(15, 15, 15, 0.95);
  --spacing: 20vw;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

#Dtext {
  color: black;
}
a {
  color: #ff6347;
  overflow-wrap: break-word;
}

a:hover {
  color: aqua;
}
main {
  width: 100vw;
  color: white;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.input-cursor {
  display: inline-block;
  width: 1px;
  height: 3vw;
  background-color: black;
  animation: blink 0.6s linear infinite alternate;
}
p {
  margin-top: 0;
}
h1,
h2,
h3,
blockquote {
  font-family: "Times New Roman", Times, serif;
  font-weight: 700;
  font-style: normal;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

header {
  background: var(--dark-bg);
  grid-column: 2 / span 5;
  padding: 2rem;

  margin-bottom: var(--spacing);
}
header h1 {
  font-size: 8vw;
}
header p {
  font-size: 2vw;
}
section {
  grid-column: 2 / 8;
  padding: 1rem;
  background: var(--dark-bg);
  font-size: 1.25rem;
  line-height: 1.5;
  margin-bottom: var(--spacing);
  overflow-wrap: break-word;
}

blockquote {
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  grid-column: 2 / span 6;
  margin-bottom: var(--spacing);
}

#feature-text,
blockquote p {
  color: black;

  display: inline;
  line-height: 1;
}
#feature-text {
  padding-left: 5px;
}
.typingText {
  display: inline;
  background-color: aliceblue;
  padding: 5px;
}
.typingText p,
.typingText span {
  font-size: 3vw;
}
.sj {
  align-self: flex-end;
  justify-content: right;
  text-align: right;
  padding-left: 40px;
}
.SectionHeading {
  display: inline-block;
}
.quote {
  flex: 1;
  font-size: 4vw;
}
.light {
  grid-column: 6 / 12;
}
.contactMe {
  grid-column: 6 / 12;
}
.qlook {
  margin-left: 20px;
}
h3,
h4,
h5 {
  margin: 0 0;
}

.about,
.abPage {
  background-color: white;
  color: black;
}
.abPage {
  margin: 0 0;
}
.about,
.contactMe {
  margin-bottom: var(--spacing);
}
.about p,
.abPage p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#EmailCopy:hover,
#PhoneCopy:hover {
  cursor: pointer;
}

@keyframes fade100 {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.popup {
  animation: fade100 2s linear;
}

.education {
  grid-column: 6/12;
  margin-bottom: var(--spacing);
}

#MessageF {
  min-height: 200px;
  max-height: max-content;
  resize: vertical;
}
#SubmitBttn {
  width: 100px;
  align-self: flex-end;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #ff6347;
  border-color: black;
}

#SubmitBttn:hover {
  background-color: aqua;
  font-weight: bold;
}

#EmailForm {
  display: flex;
  flex-direction: column;
}
