@import url("https://use.typekit.net/jmk3xov.css");

canvas {
  position: fixed;
  top: 0;
  left: 0;
}
body {
  margin: 0 0;
}
:root {
  --dark-bg: rgba(15, 15, 15, 0.5);
  --light-bg: rgba(255, 255, 255, 0.5);
  --spacing: 20vw;
  --fontSize: 1.25rem;
  --BigFont: 3rem;
  --headingSize: 2rem;
  font-family: brandon-grotesque, sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

#Dtext {
  color: black;
}
a,
.comingSoon {
  color: #6e0000;
  overflow-wrap: break-word;
}

a:hover,
.comingSoon:hover {
  color: blue;
}
main {
  width: 100vw;
  z-index: 99;
  position: absolute;
  width: 100%;
  margin: 0px auto;
  padding: 120px 0px;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.input-cursor {
  display: inline-block;
  width: 1px;
  height: 2.3rem;
  background-color: var(--dark-bg);
  animation: blink 0.6s linear infinite alternate;
}
p {
  margin-top: 0;
}
html {
  font-family: "Roboto", sans-serif;
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}
header {
  background: var(--light-bg);
  grid-column: 2 / span 5;
  padding: 2em;
  color: black;
  margin-bottom: var(--spacing);
}
header h1 {
  font-size: var(--BigFont);
}
header p {
  font-size: var(--fontSize);
}
section {
  grid-column: 2 / 8;
  padding: 1em;
  background: var(--light-bg);
  font-size: var(--fontSize);
  line-height: 1.5;
  margin-bottom: var(--spacing);
  overflow-wrap: break-word;
  color: black;
}

blockquote {
  margin: 0;
  padding: 0;
  background-color: var(--light-bg);
  grid-column: 2 / span 6;
  margin-bottom: var(--spacing);
}

#feature-text,
blockquote p {
  color: black;

  display: inline;
  line-height: 1;
}
.DQuote2,
.DQuote3 {
  padding-left: 20px;
}

#feature-text {
  padding-left: 5px;
}
.typingText {
  display: inline;
  background-color: var(--light-bg);
  padding: 5px;
}
.typingText p,
.typingText span {
  font-size: var(--BigFont);
}
.sj {
  align-self: flex-end;
  justify-content: right;
  text-align: right;
  padding-left: 40px;
  color: black;
}
.SectionHeading {
  display: inline-block;
}
.quote {
  flex: 1;
  font-size: var(--headingSize);
  font-style: italic;
}
.light {
  grid-column: 6 / 12;
}
.contactMe {
  grid-column: 6 / 12;
}
.qlook {
  margin-left: 20px;
}
h3,
h4,
h5 {
  margin: 0 0;
}

.about,
.abPage {
  background-color: var(--light-bg);
  color: black;
}
.abPage {
  margin: 0 0;
}
.about,
.contactMe {
  margin-bottom: var(--spacing);
}
.about p,
.abPage p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#EmailCopy:hover,
#PhoneCopy:hover {
  cursor: pointer;
}

@keyframes fade100 {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.popup {
  animation: fade100 2s linear;
}

.education {
  grid-column: 6/12;
  margin-bottom: var(--spacing);
}

#MessageF {
  min-height: 200px;
  max-height: max-content;
  resize: vertical;
}
#SubmitBttn {
  width: 100px;
  align-self: flex-end;
  margin-top: 10px;
  border-radius: 5px;
  background-color: #ff6347;
  border-color: black;
}

#SubmitBttn:hover {
  background-color: aqua;
  font-weight: bold;
}

#EmailForm {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  header,
  section,
  blockquote,
  .about,
  .light,
  .education,
  .contactMe,
  .abPage {
    grid-column: 2 / 12;
  }
  /*  :root {
    --dark-bg: rgba(0, 0, 0, 0.5);
    --light-bg: rgba(255, 255, 255, 0.65);
  } */
}
